.wrapper
  flex-direction row
  margin-top 4u

.line
  margin-top 4u
  border-bottom 1px solid #c3c3c3

.left
  padding 2u
  background-color #fff
  align-items center

.center
  flex-shrink 1
  margin-left 2u

.right
  justify-content center
  margin-left auto

.weekDay, .month, .day
  color #cc000c
  text-transform uppercase
  text-align center

.day
  font-size 3u
  line-height 3u

.title
  color #cc000c
  font-size 2u
  text-transform uppercase
  flex-shrink 1
  margin-top 1u

.location, .time
  font-size 2u
  text-transform uppercase

.icon
  color #cc000c
  margin-left 2u