.tabWrapper
  position relative
  padding 1u
  +tablet()
    padding 2u

.tabTitle
  color #cc000c

.activeHint
  position absolute
  bottom 0
  left 50%
  margin-left -5px
  border-top 0
  border-left 1u solid transparent
  border-right 1u solid transparent
  border-bottom 1u solid #ffffff
