.avatar
  flex-direction row
  align-items center

.info
  margin 0 1u
  align-items flex-end

.hello,
.name
  color rgba(255,255,255, 0.6)

.hello
  font-size 1.5u
  line-height 2u
  text-transform uppercase

.name
  font-size 2.5u
  line-height 3u
  text-transform uppercase
  font-weight 400