.hint
  font-size 2.5u
  line-height 3u
  // letter-spacing 0.5u
  text-transform uppercase
  color #cc000c
  margin-bottom 4u

.inputArea
  border-radius 0
  margin-bottom 2u

.info
  +tablet()
    flex-direction row
    justify-content space-between
    align-items center

.contactTxt
  color #9a9a9a

.email
  color #cc000c

.button
  margin-top 2u
  border-radius 0
  +tablet()
    margin-left auto
    padding-left 4u
    padding-right 4u
