$menuHeight = 6u
$logoColor = #FCB69D

.sidebar
  background-color #cc3e45

  &-menu
    padding 2u
    margin-top 2u

.rowMenu
  align-items center

.menu
  background-color rgba(black, 0.02)
  height $menuHeight
  z-index 1
  align-items center
  padding 0 2u
  border-bottom-width 1px
  border-bottom-color rgba(black, 0.05)

.menuItem
  margin-top 1u

.img
  width 17u
  height 8u

.logoDiv
  align-items center

.item
  color white
  font(m)
  line-height 5u
  text-decoration none
  font-weight 300
  text-transform uppercase

.logo
  margin-left 2u
  color $UI.colors.secondaryText
  font(xl)

.body
  flex 1

.social
  margin-top 4u
  align-items center
