.root
  position absolute
  top 13u
  left 2u
  right 2u
  z-index 1
  +desktop()
    position relative
    top 0
    left 0
    flex-direction row

.left
  +desktop()
    flex-basis 70%
    // width 66.66%

.right
  +desktop()
    flex-basis 30%
    // width 33.33%