.left
  margin-top 1u

.center
  margin-left 2u
  flex-grow 1
  padding-bottom 1u
  border-bottom 1px solid #d4d4d4
  flex-shrink 1
  margin-top 1u
  &.last
    border none

.right
  border-bottom 1px solid #d4d4d4
  margin-top 1u
  &.last
    border none

.date
  font(s)
  color rgba(0, 0, 0, 0.4)

.author,
.delete
  color #cc000c