.comment
  flex-direction row
  margin-bottom 2u

.center
  margin-left 2u
  flex-grow 1
  padding-bottom 1u
  border-bottom 1px solid #d4d4d4
  flex-shrink 1

.right
  // margin-left 1u
  border-bottom 1px solid #d4d4d4

.date
  font-size 1.5u
  color rgba(0, 0, 0, 0.4)

.author, .delete
  color #cc000c