.wrapper
  flex-direction row

.line
  margin 4u 0
  border-bottom 1px solid #c3c3c3

.left
  padding-top 1u
  align-items center

.img
  width 8u
  height 8u

.center
  flex-shrink 1
  margin-left 2u

.title
  color #cc000c
  font-size 2u
  text-transform uppercase
  flex-shrink 1
  margin-top 1u

.location, .date
  font-size 2u

.location
  text-transform uppercase
