.container
  flex-direction row
  // justify-content space-between

.icon
  // width 3u
  // height 3u
  display flex
  background white
  color #cc3e45
  border 1px solid white
  border-radius 100%
  padding 1u
  margin-right 2u
  &.last
    margin-right 0
