.root
  background-color white
  align-items center
  padding 2u 2u 0 2u
  +tablet()
    padding 3u 4u 0 4u

.img
  width 221
  height 35
  margin-bottom 1u

.hashtag
  font-size 1.5u
  line-height 2u
  font-weight 400
  text-transform uppercase
  color #cc000c
  margin-bottom 2u
