.root
  flex 1

.container
  padding 1u 2u
  background-color #e5e5e5
  +desktop()
    padding 2u 1u
  +wide()
    padding 4u 8u

.img
  flex 1
  resize-mode cover
  justify-content center

.break
  display none
  +desktop()
    display flex
    margin-bottom 4u

.txt
  +desktop()
    display flex
    font-size 8u
    line-height 15u
    letter-spacing 0.15em
    font-weight 300
    text-transform uppercase
    color white