.root
  padding 2u
  +tablet()
    padding 4u
  +desktop()
    padding 2u
  +wide()
    padding 4u

.title1
  text-align center
  font-size 2u
  color #cc000c
  text-transform uppercase

.title2
  text-align center
  font-size 4u
  line-height 5u
  color #cc000c
  text-transform uppercase

.line
  width 100px
  border-bottom 1px solid #c3c3c3
  margin 2u auto 0

.divider
  margin 2u 0
  border-bottom 1px solid #c3c3c3